body {
    font-family: Comic sans MS;
    background-image: url("/ui/bck.jpg");
    

     height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px
    
}
.img-sasi{
    height: 100px;
}
    
    
    
    .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}

