body {
    font-family: Comic sans MS;
    background-image: url("/ui/bck.jpg");
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.balloon
{
    text-align: right;
    font-size: 150%;
}
.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px
    
}
.img-sasi{
    height: 100px;
}
    
.menu ul {
  list-style: none;
 
}
.menu li {
    display:inline;
    padding: 10px 40px;
     
}

